<h2>Create a  Question</h2>

<%
    @subgenre = Subgenre.find(params[:subgenre_id])
    subgenre_id = @subgenre.id
    action = "http://localhost:3000/subgenres/" + subgenre_id.to_s + "/question"
 %>

 <form method="POST" action= <%= action %> >
   <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<%= simple_form_for(@question) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.label :Question %><br>
    <%= f.text_field :question_desc, class: "form-control" %>
  </div>


  <div class="form-group">
    <%= f.input :is_multiple, as: :radio_buttons, label: 'MultipleCorrect?', class: "form-control" %>
  </div

  <br>
  <div class="form-group">
    <%= f.submit "Submit", class: "btn btn-lg btn-primary" %>
  </div>

<% end %>
</form>
