<div class="page-header">
<h4> <%= @choice.option_desc%></h4>
</div>

<h5><%= @choice.question_id %></h5>
<h4><%= @choice.correct %></h4>


<%= link_to 'Edit', edit_choice_path(@choice) %> |
<%= link_to 'Back', choices_path %>
