<h1>Sub Genres</h1>
<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>S.No</th>
      <th>Name</th>
      <th style="text-aling:center">Description</th>
      <th> Genre Id</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @subgenres.each do |subgenre| %>
      <tr>
        <td><strong><%= subgenre.id %></strong></td>
        <td><strong><%= subgenre.name %></strong></td>
        <td><small><%= subgenre.description %></small></td>
        <td><%= subgenre.genre_id %></td>

        <% if Status.find_by(subgenre_id: subgenre.id, user_id: current_user.id) == nil %>
        <td><%= link_to 'Start Quiz', questions_link_path(subgenre.id) %></td>
        <% else %>
        <td><%= link_to 'Continue Quiz', questions_link_path(subgenre.id) %></td>
        <% end %>

        <td><%= link_to 'Leaderboard', leaderboards_path(subgenre.id) %></td>


        <% if current_user.admin %>
        <td><%= link_to 'Edit', edit_subgenre_path(subgenre) %></td>
        <td><%= link_to 'Delete', subgenre, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<% if current_user.admin %>
<%= link_to 'New Sub Genre', new_subgenre_link_path %>
<% end %>
