<h3 style="text-align:center">Wanna Get Quizzed!!??</h3>
<h4 style="text-align:center">Try Quizzie then! </h4>

<% if user_signed_in? %>
<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>S.No</th>
      <th>Genre</th>
      <th>Subgenre</th>
      <th>Status</th>

      <th colspan="6"></th>
    </tr>
  </thead>
  <% i = 0 %>
  <tbody>
    <% Subgenre.all.each do |subgenre| %>
      <tr>
        <% i = i+1 %>
        <td><strong><%= i.to_s %></strong></td>
        <td><strong><%= Genre.find_by(id: subgenre.genre_id).name %></strong></td>
        <td><small><%= subgenre.name %></small></td>

        <% if Status.find_by(subgenre_id: subgenre.id, user_id: current_user.id) == nil %>
        <td><small>Not Attempted</small></td>
        <td><%= link_to 'Start Quiz', questions_link_path(subgenre.id) %></td>
        <% else %>
        <td><small>Attempted</small></td>
        <td><%= link_to 'Continue Quiz', questions_link_path(subgenre.id) %></td>
        <% end %>
        <td><%= link_to 'Leaderboard', leaderboards_path(subgenre.id) %></td>


        <% if current_user.admin %>
        <td><%= link_to 'Edit', edit_subgenre_path(subgenre) %></td>
        <td><%= link_to 'Delete', subgenre, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<% end %>
