<%= simple_form_for(@genre) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.label :Name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :Description %><br>
    <%= f.text_field :description, class: "form-control" %>
  </div>
  <br>
  <div class="form-group">
    <%= f.submit "Submit", class: "btn btn-lg btn-primary" %>
  </div>

<% end %>
